.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2.5% 5%;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.container .graduates_comments_image img {
  height: 24rem !important;
}
.container .graduates_comments {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container .graduates_comments h3 {
  height: 4rem;
  font-size: 1.75rem;
  color: var(--h1Color);
}
.container::before {
  content: "";
  position: absolute;
  inset: -25% auto auto 93.5%;
  width: 40%;
  height: 150%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 165, 21, 0.7215686275) 20%, rgba(255, 165, 21, 0) 100%);
}

.slider {
  width: 100%;
}

.comment_data_header {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 3rem;
  width: calc(100% - 3rem);
  justify-content: end;
  flex-direction: row-reverse;
  overflow: visible !important;
}
.comment_data_header img {
  position: relative;
  height: 3.5rem !important;
  width: 3.5rem !important;
}
.comment_data_header::before {
  content: "";
  position: absolute;
  inset: 0 auto auto calc(100% - 3.5rem);
  width: 4rem;
  height: 4rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(183, 0, 0, 0.7215686275) 5.73%, rgba(255, 0, 0, 0.6549019608) 18.23%, rgba(255, 0, 0, 0) 100%);
}

.comment_header_data {
  margin-right: 0.5rem;
}
.comment_header_data h4 {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--h2Color);
}
.comment_header_data h5 {
  width: 100%;
  height: 1.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--h1Color);
}

.course_info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 2rem;
}
.course_info_container::after {
  content: "";
  position: absolute;
  inset: -10% 0 0 0;
  width: 100%;
  height: 0.05rem;
  background-color: var(--borderColor);
}

.comment_data_container p {
  margin: 2.5% 3.5rem;
  height: 11rem;
  overflow-y: auto;
  font-size: 0.9rem;
  color: var(--lightGrey);
}

.course_info h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--h1Color);
}
.course_info h5 {
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  align-items: baseline;
  flex-direction: row-reverse;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--h2Color);
}
.course_info h5 span {
  font-family: "IRANSansWeb(FaNum)";
}

.graduates_comments_image {
  position: relative;
}
.graduates_comments_image::before {
  content: "";
  position: absolute;
  inset: 50%;
  height: 125%;
  width: 125%;
  transform: translate(-50%, -50%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(183, 0, 0, 0.7215686275) 5.73%, rgba(255, 0, 0, 0.6549019608) 18.23%, rgba(255, 0, 0, 0) 100%);
}

.comments_course_button {
  transition: all 750ms;
  cursor: pointer;
}
.comments_course_button:hover {
  color: #ff0200;
  filter: drop-shadow(0 0 10px #9e0000);
}

@media screen and (max-width: 800px) {
  .container {
    margin-bottom: 10vw;
    flex-direction: column-reverse;
    row-gap: 10vw;
  }
  .container .graduates_comments_image img {
    width: 95vw !important;
  }
  .container .graduates_comments {
    width: 100%;
  }
  .container .graduates_comments h3 {
    height: 10vw;
    font-size: 5vw;
  }
  .container::before {
    display: none;
  }
  .comment_data_header {
    margin-right: 4vw;
    width: calc(100% - 4vw);
  }
  .comment_data_header img {
    height: 12vw !important;
    width: 12vw !important;
  }
  .comment_header_data h5 {
    height: 6vw;
    font-size: 3.5vw;
  }
  .comment_header_data h4 {
    font-size: 3.25vw;
  }
  .comment_data_container p {
    margin: 2.5% 9vw;
    height: 50vw;
    font-size: 3.25vw;
  }
  .course_info h4 {
    font-size: 3.75vw;
  }
  .course_info h5 {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    font-size: 3.4vw;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    margin-bottom: 5rem;
  }
}/*# sourceMappingURL=graduatesComments.module.css.map */