@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("//db.onlinewebfonts.com/c/5c53f1a72f61b5b51e2ea79a22ebc38b?family=IRANSansWeb(FaNum)");

a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: var(--background);
  transition: all 600ms;
  width: 100vw;
  overflow-x: hidden;
  text-align: right;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", "Maven Pro";
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 10px;
}
button,
input {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* navbar animation */
.navbar-enter {
  transform: translateX(-100%);
  transition: all 300ms;
}

.navbar-enter-active {
  transform: translateX(0);
  transition: all 300ms;
}

.navbar-exit {
  transform: translateX(0);
  transition: all 300ms;
}

.navbar-exit-active {
  transform: translateX(-100%);
  transition: all 300ms;
}

.theme-enter {
  transform: translateY(150%);
  opacity: 0;
  transition: all 300ms;
}

.theme-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: all 300ms;
}

.theme-exit {
  transform: translateY(0%);
  opacity: 1;
  transition: all 300ms;
}

.theme-exit-active {
  transform: translateY(150%);
  opacity: 0;
  transition: all 300ms;
}

.swiper-button-prev::after {
  font-size: 1.5rem !important;
  transform: translateX(-0.75rem);
  color: var(--borderColor) !important;
}
.swiper-button-next::after {
  font-size: 1.5rem !important;
  transform: translateX(0.75rem);
  color: var(--borderColor) !important;
}

/* this part is for page-trasiton which is in _app.js file */
.page-transition-enter {
  position: relative;
  left: -100%;
  opacity: 1;
  transition: all 500ms;
}
.page-transition-enter-active {
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 500ms;
}
.page-transition-exit {
  position: relative;
  left: 0%;
  opacity: 1;
  transition: all 500ms;
}
.page-transition-exit-active {
  position: relative;
  left: 200%;
  opacity: 1;
  transition: all 500ms;
}
h2,
h3,
h4 {
  transition: all 500ms;
}
h2:hover,
h3:hover,
h4:hover {
  letter-spacing: 0.075rem !important;
}
:root {
  --redGradient: radial-gradient(
    50% 50% at 50% 50%,
    #b70000b8 5.73%,
    #ff0000a7 18.23%,
    #ff000000 100%
  );
  --orangeGradient: radial-gradient(
    50% 50% at 50% 50%,
    #ffa515b8 20%,
    #ffa51500 100%
  );
  --pinkGradient: radial-gradient(
    50% 50% at 50% 50%,
    #ff0092d6 5.73%,
    #ff009200 100%
  );
  --purpleLighterGradient: radial-gradient(
    50% 50% at 50% 50%,
    #8e04ec96 0%,
    #8e04ec00 100%
  );
  --redToOrange: linear-gradient(90deg, #ff0000e0 0.18%, #ffac0ae8 100.18%);
  --lightBlueGradient: radial-gradient(
    50% 50% at 50% 50%,
    #30c9c7 20%,
    #30c9c700 100%
  );
  --blueGradient: radial-gradient(
    50% 50% at 50% 50%,
    #5c84ff 5.73%,
    #5c84ff00 100%
  );
  --purpleGradient: radial-gradient(
    50% 50% at 50% 50%,
    #b246e6 14.58%,
    #b246e600 100%
  );
  --purpleToPink: linear-gradient(90deg, #f920c3 0%, #8703f5 100%);
  --lightBlueToBlue: linear-gradient(270deg, #00c9bdcc 0%, #00199e 100%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
